*{
    border:solid purple 1px;
    
}

html {
    box-sizing: border-box;
  }
  *, *:before, *:after {
    box-sizing: inherit;
  }

.SketchBoxContainer{
    display:flex;
    flex-direction: column;
    margin:auto;
    border: 6px solid black;
    width:30vw;
    height:30vw;
}

.SketchSub{
    display:flex;
    flex-grow: 1;
}

.SketchCase{
    flex-grow: 1;   
}

.SampleColor{
    max-width:5vw;
    min-height: 5vw;
    border:1px solid black;
}

.MemorizedSampleColor{
    max-width:5vw;
    min-height: 5vw;
    border:1px solid black;
    border-radius: 2.5vw;
}

#TitleDisplay{
    
    height: 8vw;
    
}

#Title{
    font-size : 3vw;
    margin: 1vw;
    text-align: center;
}

#Concept{
    font-size: 1.5vw;
    margin:1vw;
    margin-top: 0vw;
    text-align: center;
    
}


#CentralAxis{
    display:flex;
    flex-direction: row;
    align-items: center;
}

#LeftMenu{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    width: 30vw;
    height: 40vw;
}

#ButtonsMenu{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

#PaletteMenu{
    align-self: center;
}

#HistoryMenu{
    align-self: center;
}