.SketchBoxContainer{
    display:flex;
    flex-direction: column;
    margin:auto;
    border: 6px solid black;
    width:30vw;
    height:30vw;
}

.SketchSub{
    display:flex;
    flex-grow: 1;
}

.SketchCase{
    flex-grow: 1;   
}

.SketchCaseNumber5{
    background-color: black;
}

.SampleColor{
    max-width:5vw;
    min-height: 5vw;
    border:1px solid black;
}

#CentralScreen{
    display: flex;
}

#LeftMenu{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    width: 15vw;
    height: 30vw;
}